artifact: build
from: golang:1.14.4-alpine3.12
ansible:
  beforeInstall:
  install:
  - shell: go mod download
    args:
      chdir: {{ .PROJECT_DIR_OUT }}
  - shell: go mod tidy
    args:
      chdir: {{ .PROJECT_DIR_OUT }}
  - shell: go build .
    args:
      chdir: {{ .PROJECT_DIR_OUT }}
  beforeSetup:
  setup:
git:
- add: {{ .PROJECT_DIR_SRC }}
  to: {{ .PROJECT_DIR_OUT }}
  excludePaths:
    - "werf.yaml"
    - ".werf"
    - ".helm"
    - "bitbucket-pipelines.yml"
    - ".env.test"
    - ".git"
mount:
- from: build_dir
  to: /go
